:root{
  --border-color:#282c34;
  }

h4 {
  margin-bottom: 0;
}
h2 {
  margin-top: 0.3em;
}
.App {
  text-align: center;
  position: relative;
  padding: 1.5em;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: var(--border-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.Dropdown{
  position:absolute;
  position: unset;
  padding: 0.3em;
  display: block;
}

.header {
  display: block;
  margin-bottom: 1em;
  border-bottom: 3px solid #00BCD4;
  color:#000;
}

.punctuation-space {
  background-color: #0de4ff618;
  border: 1px solid #00BCD4;
  border-radius: 5px;
  width: 2em;
  display: inline-block;
  height: 1em;
  margin: 0 0.5em;
}

.ul-class{
  list-style: none;
  padding: 0;
  margin:0;
}

.li-class {
  border-radius: 20px;
  background-color: #0de4ff80;
  border: 1px solid #00BCD4;
  padding: 0.8em;
  font-weight: bolder;
  font-size: 1.1em;
  display: inline-block;
}
.li-class:hover{
  background-color: #0000ff99;
}
.points {
  display: inline-block;
  margin: 0em 1em;
}
.next-question-button {
  padding: 1em;
  border: 2px outset #00BCD4;
  width: 50%;
  margin: auto;
  margin-top: 0.5em;
  font-weight: bold;
  color: #000 ;
  border-radius: 10px;
  position: relative;
}

.soc-icon {
    height: 2.5em;
    width: 2.5em;
    margin-left: 0.2em;
    margin:0.75em;
}
.social {
  margin-top: 1em;
  border-top: 3px solid #00BCD4;
}
.timer{
  display: inline-block;
  margin: 0em 1em;
}
